/* styles.css */


.list-group-item.active {
    background-color: blue; /* Белый фон для активного элемента */
    color: white; /* Синий цвет текста для активного элемента */
}

/* Стили для неактивного элемента списка */
.list-group-item {
    background-color: white; /* Синий фон для неактивного элемента */
    color: blue; /* Белый цвет текста для неактивного элемента */
}

/* Стили для ссылки в активном элементе списка */
.list-group-item.active  a {
    color: white; /* Синий цвет текста ссылки в активном элементе */
}

/* Стили для ссылки в неактивном элементе списка */
.list-group-item a {
    color: blue; /* Белый цвет текста ссылки в неактивном элементе */
}

